Export/
Logs/
*.log
*.key
*.pfx
*.license
config.json
Config/CurrentProject.json
Projects/project-default/ProjectInfo.json
Keys/license-private.pem
KnowledgeBase/*.db
Templates/ModuleCache/
bin/
obj/
node_modules/
.vs/
.vscode/.ropeproject/
*.user
*.suo
~$*.xls
~$*.xlsx
dist/
publish/
wps-addon-build/
wps-addon-publish/
.debugTemp/
